@tailwind base;
@tailwind components;
@tailwind utilities;

root,
#root,
html,
root,
body {
  height: 100%;
  width: 100%;
}

body {

  background-color: #F8FAFE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black */
}

a,
link {
  cursor: pointer;
}